.section {
    height: 10vh;
    padding: 0 1rem;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.section.onScroll{
    background-color: var(--color-light-1);
}

.section > div:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    height: 95%;
}

.list {
    font-weight: 600;
}

.list > ul li {
    color: var(--color-dark-1);
    cursor: pointer;
    height: 10vh;
    display: flex;
    align-items: center;
}

.list > ul li > a {
    padding: 0.5rem 0;
    border-bottom: 2px solid transparent;
    transition: 0.2s;
}

.list > ul li > a:hover {
    border-bottom: 2px solid var(--color-main-2);
}

.section .search{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--color-dark-2);
    border-radius: 0.5rem;
    width: 50%;
    max-width: 30rem;
    font-size: 1.5rem;
}
.section .search input{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}


.btn > a {
    background-color: var(--color-main-2);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color: var(--color-light-2);
    box-shadow: var(--box-shadow-1);
}

/* ---------------- */


