.section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    margin-top: 10vh;
    padding: 2rem 1rem;
}

.list,
.content {
    padding: 2rem;
    background-color: var(--color-light-1);
    border-radius: 1rem;
    height: fit-content;
}
.content {
    height: 100%;
}

.list ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.list ul li {
    border-radius: 0.8rem;
    font-weight: 500;
    font-size: 1.6rem;
    padding: 1rem;
    color: var(--color-dark-5);
}

.list ul li a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.list ul li a .icon {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--color-main-3);
    color: var(--color-main-1);
}

.list ul li.active {
    background-color: var(--color-main-2);
    color: var(--color-light-2);
    font-weight: 600;
}

.list ul li.active a .icon {
    background-color: var(--color-light-1);
    color: var(--color-main-1);
}

/* ----------- */

.Medical_profile,
.Medical_profile > div:nth-of-type(1) {
    height: 100%;
}
.Medical_profile > div:nth-of-type(1) ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: 100%;
}

.Medical_profile > div:nth-of-type(1) ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    color: var(--color-dark-5);
    border: 1px solid var(--color-main-1);
    background-color: var(--color-main-3);
    border-radius: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    position: relative;
}

.Medical_profile > div:nth-of-type(1) ul li a img {
    width: 18rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.Medical_profile > div:nth-of-type(1) ul li a img.img2 {
    width: 10rem;
}

/* -------------- */

@media (max-width: 60rem) {
    .section {
        display: grid;
        grid-template-columns: 1fr;
    }
    .list {
        padding: 1rem;
    }
    .list ul {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0;
    }
    .list ul li a .icon {
        display: none;
    }

    .Medical_profile {
        height: 25vh;
    }

}

@media (max-width: 40rem) {
    .Medical_profile > div:nth-of-type(1) ul li a img {
        display: none;
    }
}
