.up {
    position: relative;
    overflow: hidden;
}

.section {
    background-color: var(--color-light-2);
    height: 90vh;
    margin-top: 10vh;
}

.section > div:nth-of-type(1) {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    color: var(--color-dark-3);
    max-width: 60rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45vh;
    position: relative;
}

.section > div:nth-of-type(1) > img:nth-of-type(1) {
    position: absolute;
    bottom: -10rem;
    left: -8rem;
    width: 11rem;
}

.section > div:nth-of-type(1) > img:nth-of-type(2) {
    position: absolute;
    top: 3vh;
    right: -14rem;
    width: 12rem;
}

.section > div:nth-of-type(1) p {
    opacity: 0;
    animation: animation-1 1s linear forwards;
}

@keyframes animation-1 {
    0% {
    }
    100% {
        opacity: 1;
    }
}

.section > div:nth-of-type(1) > p:nth-of-type(2) {
    font-size: 2rem;
    font-weight: 500;
}

.section .btn {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.section .btn a {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 2rem;
    background-color: var(--color-dark-3);
    box-shadow: var(--box-shadow-1);
    color: var(--color-light-1);
    border-radius: 20rem;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.section > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 45vh;
    font-size: 2rem;
    font-weight: 600;
    position: relative;
}



.service {
    position: relative;
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(4, minmax(20rem, 25rem));
    gap: 0.5rem;
    padding: 1rem;
}

.service > div {
    height: 10rem;
    box-shadow: var(--box-shadow-1);
    background-color: var(--color-light-2);
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-main-text);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.text > p:nth-of-type(2) {
    font-size: 1.3rem;
    font-weight: 500;
}

.service > div img {
    width: 5rem;
}
.title {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2.5rem;
}
.title img {
    width: 9rem;
}

@media (max-width: 50rem) {
    .service {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

.circle1,
.circle2 {
    position: absolute;
    width: 50rem;
    height: 50rem;
    background-color: var(--color-main-3);
    filter: blur(5rem);
    border-radius: 50%;
}

.circle1 {
    bottom: -20rem;
    left: -20rem;
}

.circle2 {
    top: -20rem;
    right: -20rem;
    background-color: #ffc86369;
}
